<div class="product-card-aside flex flex-col flex-nowrap gap-3 absolute {{ aside_classes }}">
      <button type="button" data-product-id="{{ product.id }}" class="compare-btn" onclick="toggleStorageItem('compare', '{{ product.id }}', this)">
        <svg class="size-4.75 text-(--color-main-text) cursor-pointer  hover:text-(--color-accent-text) transition ease-in duration-200 in-[.is-active]:fill-(--color-bg-accent-from)">
          <use href="#icon-compare"></use>
        </svg>
      </button>
      <button type="button" data-product-id="{{ product.id }}" class="wishlist-btn group/wishlist cursor-pointer" onclick="toggleStorageItem('wishlist', '{{ product.id }}', this)">
        <div class="relative size-6">
    <svg class="absolute inset-0 size-6 text-black transition-opacity duration-200 
               group-hover/wishlist:text-(--color-accent-text) in-[.is-active]:opacity-0 in-[.is-active]:pointer-events-none z-10">
      <use href="#icon-wishlist"></use>
    </svg>

    <svg class="absolute inset-0 size-6 text-(--color-bg-accent-from) opacity-0 transition-opacity duration-200 in-[.is-active]:opacity-100 z-20">
      <use href="#icon-wishlist-solid"></use>
    </svg>
  </div>
      </button>
   </div>