<div class="product-card w-full">
  <div class="relative h-full w-full border-(--color-main-border) border border-solid hover:border-(--color-accent-border) transition ease-in duration-300 text-center">
    {% render 'product-card-aside'
      , product: product
      , aside_classes: "top-[6%] right-[6%]"
    %}
    <a href="{{ product.url }}" class="product-card__link flex flex-col justify-center items-center">
      {% if product.featured_media %}
        <img
          class="my-8 text-center"
          src="{{ product.featured_media | image_url: width: 200 }}"
          alt=""
          width="200"
          height="140">
      {% endif %}
      <h3 class="font-bold mb-3 text-[1rem] leading-[26px] hover:text-(--color-accent-text) transition ease-in duration-300">{{ product.title }}</h3>
    </a>
    <p class="font-normal mb-3 text-3.5 leading-[26px]">{{ product.vendor }}</p>
    {% render 'product-card-variants'
      , product: product %}
    <div class="py-5 flex gap-1 justify-evenly">
      {% render 'button'
        ,
 text: "Детальніше"
        ,
 url: product.url
        ,
 variant: "usual"
        ,
 classes: "min-w-[135px]"
      %}
      <form method="post" action="{{ routes.cart_add_url }}">
        <input
          type="hidden"
          name="id"
          value="{{ product.selected_or_first_available_variant.id }}" />
        {% render 'button'
          ,
 text: "В кошик"
          ,
 type: submit
          ,
 variant: "accent"
          ,
 icon: "icon-cart"
          ,
 classes: "min-w-[135px]"
        %}
      </form>
    </div>
  </div>
</div>