{%  assign wishlist_count = 0 %}
{%  assign compare_count = 0 %}
<header class="header">
  <div class="container-large">
    <h1 class="sr-only">Header</h1>
    <div class="flex flex-row items-center gap-3 md:gap-3.5">
      <div class="tablet-large:basis-[clamp(0px,calc((100vw-1150px)/2),115px)]"></div>
      <div class="flex flex-row py-2.5 md:py-5 gap-3 md:gap-3.5 items-center  md:order-3 ">
        <a href="{{ pages['wishlist'].url }}" class="group p-1 first:pl-0 md:p-2 shrink-0 icon-underline-hover">
          <svg class="size-4 md:size-5 text-(--color-main-text) svg-hover">
              <use href="#icon-wishlist"></use>
            </svg>
            {%  render 'icon-badge-default', count:wishlist_count, classes:'badge-position' %}
        </a>
        <a href="{{ pages['comparison'].url }}" class="group p-1 md:p-2 shrink-0 icon-underline-hover">
          <svg class="size-4 md:size-5 text-(--color-main-text) svg-hover">
              <use href="#icon-compare"></use>
            </svg>
            {%  render 'icon-badge-default', count:compare_count, classes:'badge-position' %}
        </a>
        <a href="{{ routes.cart_url }}" class="group p-1 md:p-2 shrink-0 icon-underline-hover">
          <svg class="size-4 md:size-5 text-(--color-main-text) svg-hover">
              <use href="#icon-cart"></use>
          </svg>
            {% render 'icon-badge-cart', count:cart.item_count, classes: 'badge-position' %}
        </a>
      </div>
      <div class="logo mx-auto p-1 md:mr-auto md:ml-0 md:order-2 lg:order-1 lg:mr-0 tablet-large:-ml-3.5">{% render 'logo'%}</div>
      <div class="flex flex-row py-2.5 gap-3 md:gap-3.5  items-center md:order-4">
        <button class="group p-1 md:p-2 shrink-0 icon-underline-hover">
          <svg class="size-4 md:size-5 text-(--color-main-text) svg-hover">
                <use href="#icon-search"></use>
              </svg>
        </button>
        <button class="group p-1 md:p-2 shrink-0 icon-underline-hover">
          <svg class="size-4 md:size-5 text-(--color-main-text) svg-hover">
                <use href="#icon-user"></use>
              </svg>
        </button>
      </div>

      <div class="header-menu shrink-0 p-1 md:p-2">
        <nav class="main-menu hidden">
          {% for link in linklists.main-menu.links %}
            <a href="{{ link.url }}">{{ link.title }}</a>
          {% endfor %}
        </nav>
              <button class="burger-menu group w-4 h-3.5 relative cursor-pointer leading-none text-[0rem]   md:order-1 lg:order-2 lg:mr-auto">
                <span class="block absolute w-full h-px bg-(--color-main-text) top-0 rounded-[10px] group-hover:bg-(--color-light-accent) group-[.open]:rotate-45 group-[.open]:translate-y-[7px]"></span>
                <span class="block absolute w-full h-px bg-(--color-main-text) top-1/2 -translate-y-1/2 rounded-[10px]  group-hover:bg-(--color-light-accent) group-[.open]:opacity-0"></span>
                <span class="block absolute w-full h-px bg-(--color-main-text) bottom-0 rounded-[10px]  group-hover:bg-(--color-light-accent) group-[.open]:-rotate-45 group-[.open]:-translate-y-1.5"></span>
              </button>
      </div>
      
    </div>
  </div>
</header>

<script>
  document.addEventListener('DOMContentLoaded', ()=> {
    const burger = document.querySelector('.burger-menu');

    burger.addEventListener('click', ()=> {
      console.log('toggle open')
      burger.classList.toggle('open')
    })
  })
</script>

{% schema %}
  {
    "name": "Header",
    "settings": []
  }
{% endschema %}