{%  assign wishlist_count = 0 %}
{%  assign compare_count = 0 %}
<header class="header">
  <div class="container-large">
    <h1 class="sr-only">Header</h1>
    <div class="flex flex-row items-center gap-3 md:gap-3.5">
      <div class="tablet-large:basis-[clamp(0px,calc((100vw-1150px)/2),115px)]"></div>
      <div class="flex flex-row py-2.5 md:py-5 gap-3 -ml-3 md:ml-0 md:gap-3.5 items-center  md:order-3 ">
        <a href="{{ pages['wishlist'].url }}" class="p-1 first:pl-0 md:first:pl-2 md:p-2 shrink-0 text-(--color-main-text) hover:text-(--color-accent-text) header-items-underline icon-underline-hover">
          <svg class="size-4 md:size-5 text-inherit svg-hover">
            <use href="#icon-wishlist"></use>
          </svg>
            {%  render 'icon-badge-default', count:wishlist_count, classes:'badge-position' %}
        </a>
        <a href="{{ pages['comparison'].url }}" class="group p-1 md:p-2 shrink-0 text-(--color-main-text) hover:text-(--color-accent-text) header-items-underline icon-underline-hover">
          <svg class="size-4 md:size-5 text-inherit svg-hover">
            <use href="#icon-compare"></use>
          </svg>
            {%  render 'icon-badge-default', count:compare_count, classes:'badge-position' %}
        </a>
        <a href="{{ routes.cart_url }}" class="group p-1 md:p-2 shrink-0 text-(--color-main-text) hover:text-(--color-accent-text) header-items-underline icon-underline-hover">
          <svg class="size-4 md:size-5 text-inherit svg-hover">
              <use href="#icon-cart"></use>
          </svg>
            {% render 'icon-badge-cart', count:cart.item_count, classes: 'badge-position' %}
        </a>
      </div>
      <div class="logo mx-auto p-1 md:mr-auto md:ml-0 md:order-2 lg:order-1 lg:mr-14 tablet-large:-ml-3.5 xl:mr-24">{% render 'logo'%}</div>
      <div class="flex flex-row py-2.5 gap-3 md:gap-3.5  items-center md:order-4">
        <button class="group p-1 md:p-2 shrink-0 text-(--color-main-text) hover:text-(--color-accent-text) header-items-underline icon-underline-hover">
          <svg class="size-4 md:size-5 text-inherit svg-hover">
            <use href="#icon-search"></use>
          </svg>
        </button>
        <button class="group p-1 md:p-2 shrink-0 text-(--color-main-text) hover:text-(--color-accent-text) header-items-underline icon-underline-hover">
          <svg class="size-4 md:size-5 text-inherit svg-hover">
            <use href="#icon-user"></use>
          </svg>
        </button>
      </div>

      <div class="header-menu relative shrink-0 p-1 md:p-2 lg:p-0 leading-none text-[0rem]  md:order-1 lg:order-2 lg:mr-auto group  cursor-pointer">
        <nav class="main-menu  fixed w-screen overflow-auto overscroll-behavior-contain h-screen bg-(--color-bg-main) z-99 text-[1rem] color-(--color-main-text) -right-full in-[.open-menu]:right-0 top-11 transition-all duration-200 ease-in flex flex-col 

      md:absolute md:w-72 md:h-auto md:top-0 md:left-0 md:right-auto  md:opacity-0 md:pointer-events-none md:translate-y-0 md:in-[.open-menu]:opacity-100 md:in-[.open-menu]:translate-y-11 md:in-[.open-menu]:pointer-events-auto md:overflow-visible
        
      lg:opacity-100 lg:relative  lg:flex-row lg:pointer-events-auto lg:overflow-visible">
          <ul class="flex flex-col lg:flex-row">
            {% for link in linklists.main-menu-1.links %}
              <li class="relative group/submenu">
                <a href="{{ link.url }}" class="block uppercase p-4 lg:p-3 text-4 leading-[18px] lg:text-3.5 text-(--color-main-text) hover:text-(--color-accent-text) lg:min-w-max header-items-underline menu-underline-hover transition duration-200 ease-in">{{ link.title }}
                </a>
                {% if link.links.size > 0 %}
                  <ul class="lg:absolute lg:top-full lg:left-0 lg:min-w-max lg:bg-(--color-bg-main) lg:pointer-events-none lg:group-hover/submenu:pointer-events-auto lg:opacity-0 lg:group-hover/submenu:opacity-100 lg:translate-y-2 lg:group-hover/submenu:translate-y-0 transition-all duration-300">
                    {% for childlink in link.links %}
                      <li>
                        <a href="{{ childlink.url }}" class="block px-7 lg:px-3 py-4 leading-4 text-3.5 hover:text-(--color-accent-text) hover:bg-(--color-bg-add)">{{ childlink.title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </nav>
              <button class="burger-menu cursor-pointer w-4 h-3.5 relative leading-none text-[0rem] lg:hidden">
                <span class="block absolute w-full h-px bg-(--color-main-text) top-0 rounded-[10px] transition-colors duration-300 md:group-hover:bg-(--color-light-accent) max-md:in-[.open]:rotate-45 max-md:in-[.open]:translate-y-[7px]"></span>
                <span class="block absolute w-full h-px bg-(--color-main-text) top-1/2 -translate-y-1/2 rounded-[10px] transition-colors duration-300 md:group-hover:bg-(--color-light-accent) max-md:in-[.open]:opacity-0"></span>
                <span class="block absolute w-full h-px bg-(--color-main-text) bottom-0 rounded-[10px] transition-colors duration-300 md:group-hover:bg-(--color-light-accent) max-md:in-[.open]:-rotate-45 max-md:in-[.open]:-translate-y-1.5"></span>
              </button>
      </div>
      
    </div>
  </div>
</header>

<script>
  document.addEventListener('DOMContentLoaded', ()=> {
    const burger = document.querySelector('.burger-menu');

    burger.addEventListener('click', ()=> {
      const isOpen = burger.classList.toggle('open');
      document.documentElement.classList.toggle('open-menu');
      // Додатковий захист від скролу на мобільних
if(isOpen){
  document.body.style.overflow = 'hidden';
  document.body.style.touchAction = 'none';
} else{
  document.body.style.overflow = '';
  document.body.style.touchAction = '';
}

    })
  })
</script>

{% schema %}
  {
    "name": "Header",
    "settings": []
  }
{% endschema %}